# Local History for Visual Studio
.localhistory/
Server/ServerCore/Intermediate/
Server/Output/
Server/Binaries/
Client/Binaries/
Client/Intermediate/
Client/Saved/
Client/A1.sln
Shared/PDL/PDL_C_Register.h
Shared/PDL/PDL_S_Register.h
Output
2DGame/Resources